/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
.gitattributes
.styleci.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
app/console
app/exception
bootstrap/
config/
database/
pubic/
routes/
storage/
tests/
vendor/
public/css/base.css
public/in_construction.png
public/favicon.ico
public/favicon(1).ico
public/favicon.ico
